<div class="kitten">
  <%= link_to image_tag(kitten.image), new_kitten_categorizations_path(kitten), class: 'kitten-link' %>
  <% if kitten.categories.length > 0 %>
  <ul>
      <% kitten.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
      <% end %>
  </ul>
  <% end %>
</div>
